#login-style-button {
  width: 10rem;
  border: 2px solid #367eb9;
  background-color: #5790be;
}

#login-style-button:hover {
  background-color: #367eb9;
}

#logout-style-button {
  border: 2px solid #878885;
  background-color: #c3c5c1;
}

#logout-style-button:hover {
  background-color: #878885;
}
