#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  font-size: 110%;
  background-color: white;
}

#linkedin-icon {
  color: #0077b5;
  font-size: 350%;
}

#github-icon {
  color: #171515;
  font-size: 300%;
}

#link-container {
  margin: 2rem 0 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

#footer-container {
  color: #717270;
}

#footer-container span {
  color: #3e6a76;
}