.custom-modal-size {
  max-width: 1300px;
}


@media only screen and (min-width: 1221px) and (max-width: 1440px) {
.custom-modal-size {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  .custom-modal-size {
    max-width: 950px;
  }
}

@media only screen and (max-width: 1000px) {
  .custom-modal-size {
    max-width: 750px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  .custom-modal-size {
    max-width: 540px;
  }
}

@media only screen and (max-width: 550px) {
  .custom-modal-size {
    max-width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .custom-modal-size {
    max-width: 350px;
  }
}