#hamburger-menu {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  background-color: #fff;
  color: #3e6a76;
  z-index: 1000;
  text-align: end;
  top: 1rem;
}

#hamburger-menu svg {
  font-size: 3rem;
}

@media only screen and (max-width: 1220px) {
  #mobile-navigation-links {
    display: flex;
    flex-direction: column;
    /* margin-top: 25rem; */
  }
}

#mobile-navigation-links {
  padding: 0 2rem;
  text-align: center;
  color: #5b5b5b;
  text-decoration: none;
}

#close-button {
  margin-top: 10px;
}

#hamburger-menu:hover {
  background-color: #f1f5f4;
}
