#header-navbar {
  margin: 0 auto;
  width: 1300px;
}

#brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3e6a76;
  font-family: 'Gluten', cursive;
  padding: 6px 12px;
  font-weight: 900;
  border-radius: 6px;
}

.header-links {
  display: flex;
  justify-content: end;
}

#brand-name h2 {
  margin: auto 0.5rem;
}

#brand-image {
  width: 50px;
}

#brand-logo {
  margin-right: 8px;
}

.header {
  padding: 0 2rem;
  height: 5rem;
}

.header-button {
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  width: 80%;
}

.custom-dropdown {
  padding: 0;
  margin: 0;
}

.header-button:hover {
  background-color: lightblue;
}

#logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-button {
  border: 2px solid #438951;
  background-color: #51945f;
}

#create-button:hover {
  background-color: #438951;
}

#profile-button {
  border: 2px solid #cb864a;
  background-color: #d3a47c;
  margin-right: 1rem;
}

.header-buttons {
  display: flex;
}

@media (max-width: 1000px) {
  .header {
    padding: 8px 2rem;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 8px 1rem;
  }
  #brand-name {
    font-size: 95%;
  }
}
