@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#hero-container {
  padding: 3.5rem;
  display: flex;
}

#hero-left {
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-left h2 {
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 300%;
  text-shadow: 2px 2px 4px #9c9c9c;
}

#hero-right {
  width: 50%;
  padding: 2rem;
}

#hero-image {
  width: 80%;
  object-fit: fill;
  border-radius: 3rem;
}
