@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300;500;700;800&display=swap');

#hero-container {
  padding: 3.5rem;
  display: flex;
  height: 100vh;
}

#hero-left {
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero-left h2 {
  font-family: 'Gluten', cursive;
  color: #3e6a76;
  font-size: 300%;
  text-shadow: 2px 4px 4px #ffffff;
  text-align: center;
}

#hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
}

#hero-image {
  width: 100%;
  object-fit: fill;
  border-radius: 3rem;
}

#try-it-button {
  margin-left: 1rem;
}
