@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300;500;700;800&display=swap');

#hero-container {
  margin-top: 80px;
  display: flex;
  min-height: calc(100vh - 80px);
}

#hero-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero-left h2 {
  font-family: 'Gluten', cursive;
  color: #3e6a76;
  font-weight: 300;
  font-size: 350%;
  text-shadow: 2px 3px 0px #ffffff;
  text-align: center;
  padding: 0 5rem;
}

#hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
}

#hero-image {
  width: 100%;
  object-fit: fill;
  border-radius: 3rem;
}

#see-recipes-button {
  border: 2px solid #cb864a;
  background-color: #d3a47c;
}

#see-recipes-button:hover {
  background-color: #cb864a;
}

#try-it-button {
  margin-left: 1rem;
  border: 2px solid #438951;
  background-color: #51945f;
}

#try-it-button:hover {
  background-color: #438951;
}


#hero-buttons {
  margin-top: 2rem;
}
