.how-to {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  width: 1300px;
  font-family: 'Gluten', cursive;
  color: #3e6a76;
}

.how-to-image {
  padding: 0 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.how-to-tablet,
.how-to-mobile {
  display: none;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  .how-to {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  .how-to {
    max-width: 950px;
  }

  .how-to-image {
    padding: 0 3rem;
  }

  .how-to-desktop {
    display: none;
  }

  .how-to-tablet {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .how-to {
    max-width: 750px;
  }

  .how-to-image {
    padding: 0 1rem;
  }

  .how-to-desktop,
  .how-to-tablet {
    display: none;
  }

  .how-to-mobile {
    display: block;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  .how-to {
    max-width: 540px;
  }
}

@media only screen and (max-width: 550px) {
  .how-to {
    max-width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .how-to {
    max-width: 350px;
  }
}
