.login-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.login-button {
  margin: 1rem 0 0;
}

.login-card p {
  margin: 0.5rem;
  color: #3e6a76;
}

#login-title {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 200%;
  color: #1d3f48;
}

#demo-button {
  width: 10rem;
  border: 2px solid #438951;
  background-color: #51945f;
}

#demo-button:hover {
  background-color: #438951;
}

hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
