.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}

.centered-container h2 {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 250%;
  color: #3e6a76;
}

.profile-card {
  margin: 1rem;
}

.profile-body {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #3e6a76;
}
