@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;700&family=Roboto:wght@100;300;400;700&family=Smooch+Sans:wght@300;400;500;700&display=swap');

.recipe-book {
  padding-top: 1rem;
  background-color: white;
  margin: 0 auto;
  width: 1300px;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.recipe-title h3 {
  font-family: 'Smooch Sans', sans-serif;
  padding: 6px 10px;
  border-radius: 1rem;
  font-size: 350%;
  color: #717270;
  border: 2px solid #c3c5c1;
}

.recipe-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin-top: 1rem;
}

.recipe-icons-divs {
  text-align: center;
}

.recipe-icons-divs p {
  margin-top: 0.5rem;
  color: #717270;
}

.recipe-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: rgb(230, 228, 226);
  border-radius: 2rem;
  min-height: 650px;
}

.recipe-image-div {
  display: flex;
  align-items: center;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  width: 40%;
  height: 540px;
  right: 75%;
  border-radius: 0.5rem;
  background-color: #f9c9a5;
}

.recipe-image {
  padding: 1rem;
  height: 100%;
}

.recipe-image-see-more {
  transform: rotate(90deg);
  color: white;
  text-wrap: nowrap;
  position: absolute;
  right: -12%;
  background-color: #f9c9a5;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
}

.recipe-image-div:hover {
  transform: translateX(45%);
}

.recipe-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-left: 0.5rem;
  border-radius: 1rem;
  padding: 2rem 2rem 2rem 30%;
}

.ingredients p:first-child,
.directions p:first-child {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 130%;
  font-weight: 400;
  text-decoration: underline;
  color: #0f8064;
}

.ingredients li,
.directions li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #28482f;
  padding-bottom: 4px;
}

.ingredients ul,
.directions ol {
  background-color: azure;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.ingredients ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 3rem;
  padding-right: 1rem;
}

.ingredients li {
  break-inside: avoid-column;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  .recipe-book {
    max-width: 1200px;
  }

  .recipe-image-div {
    right: 65%;
  }

  .recipe-image-div:hover {
    transform: translateX(25%);
  }

  .recipe-text {
    padding-left: 40%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  .recipe-book {
    max-width: 950px;
  }

  .recipe-image-div {
    width: 55%;
    right: 75%;
  }

  .recipe-image-div:hover {
    transform: translateX(60%);
  }

  .recipe-text {
    padding-left: 30%;
  }
}

@media only screen and (max-width: 1000px) {
  .recipe-book {
    max-width: 750px;
  }

  .recipe-icons {
    width: 90%;
  }

  .recipe-image-div {
    width: 75%;
  }

  .recipe-image-div:hover {
    transform: translateX(70%);
  }
}

@media only screen and (max-width: 800px) {
  .recipe-book {
    max-width: 540px;
  }

  .recipe-image-div {
    position: static;
  }

  .recipe-container {
    direction: flex;
    flex-direction: column;
    justify-content: center;
  }

  .recipe-image-see-more {
    display: none;
  }

  .recipe-image-div {
    width: 95%;
    background-color: transparent;
  }

  .recipe-image {
    margin-top: 1.5rem;
    object-fit: cover;
    padding: 0;
    border-radius: 1.5rem;
  }

  .recipe-image-div:hover {
    transform: none;
  }

  .recipe-text {
    padding-left: 0;
    align-items: center;
    padding: 1rem;
    margin-left: 0;
  }

  .recipe-title h3 {
    font-size: 250%;
  }

  .directions p,
  .ingredients p {
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .recipe-book {
    max-width: 400px;
  }

  .recipe-book-container {
    padding: 0 !important;
  }

  .recipe-image {
    object-fit: contain;
    margin-top: 1rem;
  }

  .recipe-image-div {
    height: 100%;
  }

  .recipe-title h3 {
    font-size: 200%;
  }

  .recipe-icons-divs {
    font-size: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .recipe-book {
    max-width: 350px;
  }

  .recipe-icons-divs {
    font-size: 80%;
  }
}
